body, html {
    margin: 0px;
}

/* mobile-friendly topnav */
.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #5C668A;
  box-shadow: 3px 3px 3px #999;
  z-index: 2;
}

.topnav a {
  float: left;
  display: block;
  color: #E3DCCE;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 120%;
  transition-duration: 0.2s;
  cursor: pointer;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border-left: none;
    border-right: none;
    border-top: #E3DCCE;
    outline: none;
    background-color: #5C668A;
    color: #E3DCCE;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 120%;
    transition-duration: 0.2s;
    cursor: pointer;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #5C668A;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    display: block;
    color: #E3DCCE;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 120%;
    transition-duration: 0.2s;
    cursor: pointer;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
}

.topnav a.icon {
    float: right;
    display: block;
}

.topnav.responsive {
    position: fixed;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
}

.topnav.responsive .dropdown {
    float: none;
}

.topnav.responsive .dropdown-content {
    position: relative;
}

.topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }

h1, h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

p, li {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

li {
    list-style-type: none;
}

#landing > img {
    width: 100%;
}

/* about div */
#about {
    background-color: white;
    margin-top: -10px;
    padding: 25px;
}

.about-parent {
    display: flex;
    justify-content: space-around;
}

.about-child {
    padding: 0px 10px 0px 10px;
}

#about img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* projects div */
#projects {
    background-color: #E3DCCE;
    margin-top: -10px;
    padding: 25px;
}

.projects-parent {
    display: flex;
    justify-content: space-around;
}

.projects-child {
    margin: 20px;
    width: 40%;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
}

#projects img {
    width: 100%;
}

#projects img:hover {
    opacity: 0.7;
    transition-duration: 0.4s;
}

/* contact div */
#contact {
    background-color: white;
    margin-top: -10px;
    padding: 25px;
}

.contact-parent {
    display: flex;
    justify-content: center;
}

.contact-child {
    margin: 20px 10px 10px 10px;
}

.contact-child img {
    width: 50px;
    height: 50px;
}

.contact-child:hover {
    opacity: 0.7;
}

#footer {
    background-color: #E3DCCE;
    margin-bottom: -15px;
}

/* large screen */
@media screen and (min-width: 900px) {
    #about > .about-parent {
        flex-wrap: nowrap;
    }

    #about .about-child {
        width: 33%;
    }

    #projects > .projects-parent {
        flex-wrap: wrap;
    }

    #projects img {
        height: 300px;
    }
}

/* small screen */
@media screen and (max-width: 899px) {
    #landing > img {
        margin-top: 50px;
        height: 450px;
    }

    #about > .about-parent {
        flex-wrap: wrap;
    }

    #projects > .projects-parent {
        flex-wrap: wrap;
    }

    #projects .projects-child {
        width: 100%;
    }
}
